<div class="container" style="padding-top: 30px;">
  <div class="row">
    <h2 class="col-md-6 offset-md-3" style="padding-bottom: 20px;">登入</h2>
    <form action="" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-group">
      <div class="col-md-6 offset-md-3">
        <div class="mb-3">
          <label for="" class="form-label">使用者名稱</label>
          <input class="form-control" type="text" name="username" id="" required/>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">密碼</label>
          <input class="form-control" type="password" name="password" required/>
        </div>
        {% for message in messages %}
        <h5 class="form-label" style="color: red;">{{ message }}</h5>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="margin-top: 30px;">登入</button>
      </div>
    </div>
    </form>
  </div>
</div>
